# YouTube API key
YOUTUBE_API_KEY=

# GitHub push Personal access token
GITHUB_TOKEN=

# Resend API key
RESEND_API_KEY=

# DevCycle server and client key
NEXT_PUBLIC_DEVCYCLE_SERVER_SDK_KEY=
NEXT_PUBLIC_DEVCYCLE_CLIENT_SDK_KEY=

# DevCycle organization client id and secret
DVC_CLIENT_ID=
DVC_CLIENT_SECRET=